*,*::after,*::before{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: aliceblue;
}

header{
    width: 100%;
    padding: 20px 0;
    background-color: rgb(0, 191, 255);
    color: white;
    display: flex;
    align-items: center;
    gap:20px;
}

header a{
    font-size: 14pt;
}

header p {
    flex: 0 0 90%;
    font-weight: bold;
    font-size: 16pt;
    padding-left: 20px;
}

header a:hover{
    background-color: rgb(203, 38, 38);
}

.link {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.form{
    margin: 30px auto;
    width: 30vw;
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    color: white;
    text-align: center;
    font-size: 14pt;
    word-wrap: break-word;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.input input{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 12pt;
    padding-left: 10px;
}

.input select{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.radio{
    display: flex;
    justify-content: center;
    font-size: 12pt;
    gap:50px;
}

.radio p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.radio input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: red;
}

.buttons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.buttons a{
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.buttons a:hover{
    background-color: rgb(203, 38, 38);
}

.buttons button{
    background-color: red;
    padding: 5px 15px 5px 15px;
    color: white;
    border:none;
    font-size: 14pt;
    border-radius: 20px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgb(203, 38, 38);
}

@media(max-width:1260px){
    header p {
        flex: 0 0 80%;
    }
}

@media(max-width:1100px){
    .form{
        width: 50vw;
    }
}

@media(max-width:620px){
    header p {
        flex: 0 0 65%;
        font-size: 12pt;
    }
    header a{
        font-size: 12pt;
    }
    .form{
        font-size: 12pt;
    }
    .input input{
        width: 90%;
        height: 20px;
        font-size: 10pt;
    }
    .input select{
        width: 90%;
        height: 20px;
        font-size: 10pt;
    }
    .buttons{
        font-size: 12pt;
        flex-direction: column;
        gap:10px;
        margin-top: 0;
    }
    .radio{
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .radio input[type="radio"]{
        width: 15px;
        height: 15px;
    }
    .buttons button{
        font-size: 12pt;
    }
    .buttons button{
        font-size: 12pt;
    }
}